APP_ENV=dev

# Строка формата {provider}://{user}:{password}@{host}:{port}/{db}
# DATABASE_URL=pgsql://page_analyser_database_user:HVs0axU6WmBry1v1xat33mI9P7A7K9hJ@dpg-d3qsor2li9vc73cklrug-a.frankfurt-postgres.render.com:5432/page_analyser_database
DATABASE_URL=postgresql://page_analyser_database_user:HVs0axU6WmBry1v1xat33mI9P7A7K9hJ@dpg-d3qsor2li9vc73cklrug-a/page_analyser_database