{% extends "layout.twig" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Content</h1>
        </div>
    </div>
</div>

{% endblock %}