{% extends "layout.twig" %}

{% block content %}
    {% if data.messages %}
    <div class="alert alert-success" role="alert">
        {{ data.messages.success[0] }}
    </div>
    {% endif %}

    <div class="container">
        <h1>Current Url</h1>
        {{ data.url.getId }}
        {{ data.url.getName }}

    </div>


{% for message in data.messges %}
<p>{{ message.success }}</p>
{% endfor %}


{% endblock %}