<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Анализатор страниц</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        {% include './components/_header.twig' with {current_path: current_path} %}
    </header>
    <main class="flex-grow-1">
        {% if messages.success %}
            <div class="alert alert-success" role="alert">
                {{ messages.success[0] }}
            </div>
        {% endif %}

        {% if messages.danger %}
            <div class="alert alert-danger" role="alert">
                {{ messages.danger[0] }}
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer class="border-top">
        {% include './components/_footer.twig' %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
