<div class="container py-3">
    <div class="row">
        <div class="col text-center">
            <a href="https://hexlet.io/pages/about" target="_blank">Hexlet</a>
        </div>
    </div>
</div>